/* #161215 */
/* #bf83bf */
/* #eac957 */
/* #808080 */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #eac957;
  color: #161215;
  font-size: 20px;
  font-family: "Times", serif;
  overflow: hidden;
}

/* Sidebar ============================================================ */

.container{
  display: flex;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  padding: 5% 0 0 3%;
}

.navbar{
  display: flex;
  flex-direction: column;
}

.navlink{
  color: #161215;
  font-size: 200%;
  font-weight: 300;
  margin-bottom: 0.1em;
}

/* Scroll Snapping ============================================================ */

.snap-container{
  width: 75%;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.snap-start{
  scroll-snap-align: start;
  height: 100vh;
}

/* Front Page =============================================================== */

.front-name-name{
  font-size: 1000%;
  font-family: "Verdana", sans-serif;
}

.front-name-job{
  font-size: 150%;
}
