/* #161215 */
/* #bf83bf */
/* #eac957 */
/* #808080 */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #eac957;
  color: #161215;
  font-size: 20px;
  font-family: "Times", serif;
}


.container{
  display: flex;
  overflow: hidden;
  position: fixed;
}

/* Sidebar ============================================================ */

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 100vh;
  padding: 5% 0 0 3%;
  border-right: 4px solid #bf83bf;
}

.navbar{
  display: flex;
  flex-direction: column;
}

.navlink{
  color: #161215;
  font-size: 200%;
  font-weight: 300;
  margin-bottom: 0.1em;
}

.navlink:hover{
  color: white;
}

.socialLinks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
  width: 100%;
}

.email-container{
  margin-top: 20em;
  display: flex;
}

.email{
  margin: 0;
  padding: 0;
}

.socialBarLink{
  margin-right: 0.5em;
  width: 15%;
}

.socialBarLink a img{
  width: 100%;
  height: 100%
}

/* Scroll Snapping ============================================================ */

.snap-container{
  width: 75%;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.snap-start{
  height: 100vh;
  scroll-snap-align: start;
}

/* Front Page =============================================================== */

.front-name-name{
  font-size: 1000%;
  font-family: "Verdana", sans-serif;
}

.front-name-job{
  font-size: 150%;
  padding-top: 1em;
}

/* About Page =============================================================== */

.about-container{
  padding-top: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.about-image{
  width: 40%;
}

.about-content{
  font-family: "Verdana", sans-serif;
  margin: 1.5em 0 0 6em;
  padding: 0.5em;
  background-color: #bf83bf;
  width: 60%;
}

.about-content:first-of-type{
  width: 40%;
  margin: 0 0 0 3em;
}

.about-content:last-of-type{
  margin: 1.5em 0 0 12em;
}

/* Works Page =============================================================== */

.works-page{
  height: 100vh;
  padding: 10vh 0 10vh 0;
  width: 100%;
}

.works-wrapper{
  height: 100%;
  width: 80%;
  position: relative;
  margin: 0 0 0 2em;
}

.works-item{
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  height: 100%;
  padding: 1.2em 3em;
  background: linear-gradient(30deg, #808080, #707070);
  box-shadow: 0.1em 0.1em 0.2em 0.25em #bf83bf;
  color: white;
  /* opacity: 1; */
  /* transition: all 0.5s linear; */
  /* TODO make animation */
}

.works-hidden{
  display: none;
  /* opacity: 0; */
}

.works-header{
  font-family: "Verdana", sans-serif;
  font-size: 200%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.4em;
}

.works-other{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.works-image{
  width: 70%;
  box-shadow: 3px 3px 5px 6px #eac957;
}

.works-links-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  justify-content: space-around;
}

.works-links-container a{
  color: white;
  text-decoration: none;
  font-size: 200%;
  padding: 0 0 0 30%;
}

.works-links-container a:hover{
  color: #eac957;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev{
  left: 0;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
  right: 0;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
}

@media screen and (max-width: 1120px){
  .front-name-name{
    font-size: 800%;
  }

  .sidebar{
    width: 20%;
  }

  .snap-container{
    width: 80%;
  }

  .socialBarLink{
    margin-right: 0.15em;
    width: 25%;
  }

  .email-container{
    display: block;
  }

  .email{
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 900px){
   body{
    font-size: 16px;
  }
}

@media screen and (max-width: 768px){
  .header{
    padding-top: 10em;
    padding-left: 10%;
  }

  .front-name-name{
    font-size: 600%;
  }

  .sidebar{
    height: 10vh;
    width: 100vw;
    flex-direction: row;
    padding: 2% 0 0 1%;
  }

  .snap-container{
    width: 100vw;
    height: 90vh;
    scroll-snap-points-y: repeat(90vh);
  }

  .snap-start{
    height: 90vh;
  }

  .container{
    flex-direction: column;
  }

  .navbar{
    display: flex;
    flex-direction: row;
  }

  .navlink{
    font-size: 150%;
    margin-bottom: 0em;
    margin-left: 0.3em;
  }

  .socialBar{
    display: flex;
    padding-left: 1em;
  }

  .email-container{
    margin-top: 0;
  }

  .socialLink{
    display: flex;
    justify-content: space-around;
    height: 200%;
    margin-left: 0.5em;
  }

  .socialBarLink{
    height: 100%;
  }

  .about-image{
    width: 60%;
  }

  .about-content{
    margin: 1em 0 0 4em;
    width: 60%;
  }

  .about-content:first-of-type{
    width: 40%;
    margin: 0 0 0 0;
  }

  .about-content:last-of-type{
    margin: 1em 0 0 8em;
  }

  .about-container{
    width: 80%;
    margin: 0 auto;
  }

  .works-wrapper{
    width: 90%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 480px){
  .navlink{
    font-size: 130%;
    margin-bottom: 0em;
    margin-left: 0.1em;
  }

  .socialBar{
    flex-direction: column;
    padding: 0 1%;
    margin: 0 1%;
  }

  .email-container{
    display: flex;
  }

  .header{
    padding-top: 10em;
    padding-left: 10%;
  }

  .front-name-name{
    font-size: 400%;
  }

  .about-container{
    width: 100%;
    margin: 0;
  }

  .about-image{
    width: 60%;
  }

  .about-content{
    margin: 1em 0 0 2em;
    width: 60%;
  }

  .about-content:first-of-type{
    width: 40%;
    margin: 0 0 0 0;
  }

  .about-content:last-of-type{
    margin: 1em 0 0 4em;
  }

  .works-item{
    grid-template-rows: 1fr 1fr 1fr;
  }

  .works-other{
    flex-direction: column;
    padding-top: 1em;
  }

  .works-links-container{
    flex-direction: row;
  }

  .works-header{
    font-size: 175%;
  }

  .works-links-container a{
    padding-top: 0.5em;
  }
}
